# Put your API keys below - and DO NOT commit them to Git!
ANTHROPIC_API_KEY=
OPENAI_API_KEY=
OPENROUTER_API_KEY=

# Connect to Localstack S3
S3_ENDPOINT=http://localhost:4566
S3_BUCKET=hocuspocus
S3_PATH_STYLE=true
S3_ACCESS_KEY_ID=test
S3_SECRET_ACCESS_KEY=test